/*
 * Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

&ledc0 {
    pinctrl-0 = <&ledc0_custom>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    channel0@0 {
      reg = <0x0>;
      timer = <0>;
    };
    // channel9@9 { add only as needed, and you should mirror the amount of channels with the amount of GPIOsss
    //   reg = <0x9>;
    //   timer = <0>;
    // };
    // channel10@a {
    //   reg = <0xa>;
    //   timer = <1>;
    // };
};



&i2c0 {
    status = "okay";
    bme280@4a {
        compatible = "bosch,bme280";
        reg = <0x4a>;
    };

	vcnl4040@60 {
		compatible = "vishay,vcnl4040";
		reg = <0x60>;
		led-current = <200>;
		led-duty-cycle = <320>;
		proximity-it = "8";
		proximity-trigger = "close";
		als-it = <640>;
	};

};
&spi2 {
	/* Workaround to support WS2812 driver */
	line-idle-low;

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <6400000>;

		/* WS2812 */
		chain-length = <1>; /* arbitrary; change at will */
		spi-cpha;
		spi-one-frame = <0xf0>; /* 11110000: 625 ns high and 625 ns low */
		spi-zero-frame = <0xc0>; /* 11000000: 312.5 ns high and 937.5 ns low */
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
	};
};

&pinctrl {
	spim2_default: spim2_default {
		group2 {
			pinmux = <SPIM2_MOSI_GPIO10>;
		};
	};
	
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO8>,
				 <I2C0_SCL_GPIO9>;
		};
	};
	ledc0_custom:  ledc0_custom {
		group1 {
			 // Mirror to Channel0
				pinmux = <LEDC_CH0_GPIO6>;
				output-enable;
		};
	};
};

/ {
	aliases {
		led-strip = &led_strip;
		buzzer-pwm = &fading_leds;
	};
	
	// /*Nordic example PWM*/
	pwmbuzzer {
		compatible = "pwm-leds";
		fading_leds: fading_leds {
			pwms = <&ledc0 0 PWM_HZ(880) PWM_POLARITY_NORMAL>;
		};
	};
	chosen {
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
	};
};

/* PWM1 for buzzer control */
// https://docs.zephyrproject.org/latest/build/dts/api/bindings/pwm/espressif%2Cesp32-ledc.html
// ledc0_default: ledc0_default {
// 	group1 {
// 			pinmux = <LEDC_CH0_GPIO0>,
// 					 <LEDC_CH1_GPIO2>,
// 					 <LEDC_CH2_GPIO4>;
// 			output-enable;
// 	};
// };
// &ledc0 {
// 	pinctrl-0 = <&ledc0_default>;
// 	pinctrl-names = "default";
// }


// ledc0: ledc@60019000 {
// 	compatible = "espressif,esp32-ledc";
// 	pwm-controller;
// 	#pwm-cells = <3>;
// 	reg = <0x60019000 0x1000>;
// 	clocks = <&rtc ESP32_LEDC_MODULE>;
// 	status = "disabled";
// };

&usb_serial {
	status = "okay";
};